version: 1.0.0.{build}
image: Visual Studio 2017
environment:
  gitHubAuthToken:
    secure: PfDIBcJmuoBtInoTSoSMOQCUtlk0+WU6wRYG9/MwWbFAEhOLJnQ1vhMu3FcOXLHt
  nugetOrgApiKey:
    secure: RoB7VF83e2Nk4/rIUilssnSNHmThFSHyEFeOtFBPKhOZQYwu8XvuqXS4seBEl+yG
  sonarLogin:
    secure: us3NmhirEyZlRItv0KXrdOeGZATXPrLl2r7b0qJp77NBsmQNo2iwLFt4zzXIJGRk
configuration: Release
dotnet_csproj:
  patch: false
init:
- ps: >- 
    git config --global --unset core.autocrlf;
    $env:isVersionDueToPublish = (($env:APPVEYOR_REPO_TAG -eq "true") -and ($env:APPVEYOR_REPO_BRANCH -eq 'master'));
    $env:isPrerelease = (($env:APPVEYOR_REPO_TAG -eq "true") -and ($env:APPVEYOR_REPO_TAG_NAME.Contains('-')));
    $env:packageVersion = if ($env:isVersionDueToPublish -eq "true") { $env:APPVEYOR_REPO_TAG_NAME } 
                          else { $env:APPVEYOR_BUILD_VERSION };
    'isVersionDueToPublish=' + $env:isVersionDueToPublish;
    'isPrerelease=' + $env:isPrerelease;
    'packageVersion=' + $env:packageVersion;

install:
- ps: >- 
    if ($env:isVersionDueToPublish -eq $true) { 
        cinst msbuild-sonarqube-runner;
        cinst dotcover-cli;
    }
before_build:
- ps: >-
    nuget restore;
    ./set-versions.ps1 $env:packageVersion $env:APPVEYOR_BUILD_VERSION;
    if ($env:isVersionDueToPublish -eq $true) { 
        ./sonar.ps1 begin $env:sonarLogin $env:APPVEYOR_REPO_TAG_NAME 
    }
test_script:
- ps: >-
    if ($env:isVersionDueToPublish -eq $true) { 
        dotCover analyze dotCover.xml -TargetExecutable="$($(Get-Command nunit-console).Source)";
        ./sonar.ps1 end $env:sonarLogin;
    } else {
        nunit-console ./nunit.migrator.tests/bin/Release/net452/nunit.migrator.tests.dll /xml TestResult.xml
        $wc = New-Object 'System.Net.WebClient';
        $wc.UploadFile("https://ci.appveyor.com/api/testresults/xunit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path .\TestResult.xml))
    }
artifacts:
  - path: 'nunit.migrator.vsix\**\*.vsix'
    name: vsix
  - path: 'nunit.migrator\**\*.nupkg'
    name: nuget
deploy:
- provider: NuGet
  api_key: $(nugetOrgApiKey)
  skip_symbols: true
  artifact: nuget
  on:
    branch: master
    appveyor_repo_tag: true
- provider: GitHub
  auth_token: $(gitHubAuthToken)
  artifact: 'nuget, vsix'
  prerelease: $(isPrerelease)
  on:
    branch: master
    appveyor_repo_tag: true